HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/src/main/kotlin/advent/of/code/year2021/day25/
/src/test/kotlin/advent/of/code/year2021/day25/
